@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Kanit;
	src: url(./Kanit-Bold.ttf);
	font-weight: bold;
}

@font-face {
	font-family: Kanit;
	src: url(./Kanit-Regular.ttf);
	font-weight: normal;
}

@font-face {
	font-family: Poppins;
	src: url(./Poppins-Regular.ttf);
	font-weight: normal;
}

@font-face {
	font-family: Poppins;
	src: url(./Poppins-SemiBold.ttf);
	font-weight: 600;
}

@font-face {
	font-family: Poppins;
	src: url(./Poppins-Light.ttf);
	font-weight: 100;
}

p{
	font-family: Poppins, serif;
	font-size: 14px;
	color: #000;
}

.tada-heading-2{
	border-bottom: 3px solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(90deg, #089A80 47.79%, #E89D2D 50%);
}

.checkbox-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 28px;
	width: 28px;
	background-color: #ECECEC;
	border: 3px solid #000;
	border-radius: 25%;
	transition-duration: 100ms;
}

.checkbox-container .checkbox-label{
	display:inline-block;
	margin-top:5px;
	margin-left:15px;
}

.checkbox-container:hover input ~ .checkmark {
	background-color: #b5b5b5;
}

.checkbox-container input:checked ~ .checkmark {
	background-color: #18B295;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
	display: block;
}

.checkbox-container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.tada-table td, .tada-table th{
	padding: 5px 10px;
}

.tada-table th{
	text-transform: uppercase;
}

.tada-table td:first-child, .tada-table th:first-child{
	border-left: none;
}

.tada-table td:last-child, .tada-table th:last-child{
	border-right: 1px solid #000;
}

.tada-table td, .tada-table th{
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
}

.tada-loader {
	border: 4px solid #E89D2D;
	border-top: 4px solid #18B295;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
